@model Lightway_Academy_school_fee_application.Models.SchoolFee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchoolFee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RRR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RRR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentOrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPayment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
